<h2>Home</h2>
<nav>
    <!-- TODO: replace by loop? -->
    <a class="button" routerLink="/part/1" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Part 1</a> |
    <a class="button" routerLink="/part/2" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Part 2</a> |
    <a class="button" routerLink="/part/3" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Part 3</a>
</nav>
<form>
    <label for="year">Year</label>
    <input type="text" id="year" name="year" #yearfilter>
    <label for="section">Section</label>
    <input type="text" id="section" name="section" #sectionfilter>
    <label for="section">Course</label>
    <input type="text" id="course" name="course" #coursefilter>

    <div style="width: 600px">
        <ng-container *ngFor="let courseTopics of topicsLists | keyvalue">
            <h3>{{ courseTopics.key }}</h3>
            <button type="button" *ngFor="let t of courseTopics.value">{{ t }}</button>
        </ng-container>
    </div>

    <p></p>
    <button class="primary" type="button" (click)="filterResults(yearfilter.value, sectionfilter.value, coursefilter.value)">Filter</button>
    <p>{{ filteredQuestionList.length }} result{{ filteredQuestionList.length !== 1 ? 's' : '' }}</p>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Part</th>
        <th>Year</th>
        <th>Paper</th>
        <th>Section</th>
        <th>Number</th>
        <th>Examiner</th>
        <th>Course</th>
        <th>Topics</th>
    </tr>
    <tr *ngFor="let q of filteredQuestionList">
        <td>
            {{ q.id }}
        </td>
        <td>
            {{ q.part }}
        </td>
        <td>
            {{ q.year }}
        </td>
        <td>
            {{ q.paper }}
        </td>
        <td>
            {{ q.section }}
        </td>
        <td>
            {{ q.number }}
        </td>
        <td>
            {{ q.examiner }}
        </td>
        <td>
            {{ q.course }}
        </td>
        <td>
            {{ q.topics.join(', ') }}
        </td>
        <td>
            <a [routerLink]="['/question', q.id]">View</a>
        </td>
    </tr>
</table>